<div class="modal-header" style="text-align: center; background-color: #d4d7d9; border-radius:5px;">
    
    <h5 style="text-align:center;  border-radius:5px;">Сообщение</h5>
</div>
<div class="modal-body" style="text-align: center">
    <br />
    <h5>@ViewBag.Message</h5>
    <br />
</div>
<div class="modal-footer" style="text-align: center">
    <button onclick="location.reload()" type="submit" class="btn btn-outline-secondary" style="min-width:100px">ОК</button>
</div>



