<div class="modal-header" align="center" style="background-color: #d4d7d9;">
    <center><h4> ПК "Учет оздоровления"</h4></center>
</div>
<div style="padding:5px;"> 
    <h5>Разработчик:</h5>
    <h5>инженер-программист</h5>
    <h5>Самусенко Олег Викторович</h5>
    <h5>отдел АСУП</h5>
    <h5>тел.: 60 376</h5>
    <h5>e-mail: sov@transoil.gomel.by</h5>
</div>
<div align="center">
    <h5><a href="\Report\InstructionHealth.pdf" target="_blank">Инструкция по эксплуатации ПК</a></h5>    
</div>
<div class="modal-footer" style="text-align: center;">
    <center><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" style="min-width:100px">Закрыть</button></center>
</div>


