<div class="modal-header" style="text-align: center;background-color: #d4d7d9; border-radius:5px;">
    <h5> Отчёт </h5>
</div>
<div class="modal-body">
    <input type="hidden" class="form-control btn-block" id="UserModif" value="@User.Identity?.Name"/>
        
    <label>Отчёт сформирован</label>
        
                                    
</div>
<center>
<div class="modal-footer" style="text-align:center">
       <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" style="min-width:100px" >OK</button>
    
</div>
</center>
